:root {
    /***color palette***/
    --forest-green: #1f3b2c;
    --earth-brown: #6a4d39;
    --slate-grey: #3d3f45;
    --off-white: #f4f1ed;
    /*fonts*/
    --ff-headers: 'Work Sans', sans-serif;
    --ff-body: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



